@import "tailwindcss";

.underline {
  width: 52px;
  height: 6px;
  background: #F64920;
  border-radius: 10px;
}

.font-poppins {font-family: 'Poppins', sans-serif;}.font-dm-sans {font-family: "DM Sans", serif;}.font-open-sans {font-family: "Open Sans", serif;}